
<div class="panel panel-default">
  <div class="panel-heading">
    {{name}}

    <div class="pull-right">
      Amp:
      <div class="btn-group btn-group-xs " data-toggle="buttons">
        <label class="btn btn-default active">
          <input name="vca-mode" value="gate" type="radio" autocomplete="off">Gate
        </label>
        <label class="btn btn-default">
          <input name="vca-mode" value="{{name}}" type="radio" autocomplete="off">{{name}}
        </label>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pull-left">
      <div class="text-center dial-container dial-container-side">
        <input id="{{name}}-attack" type="text" value="0" data-min="0" data-max="4000" data-angleoffset="-125" data-angleArc="250" data-width="80" data-height="80" class="dial">
        <p>Attack</p>
      </div>
    </div>
    <div class="pull-left">
      <div class="text-center dial-container dial-container-side">
        <input id="{{name}}-decay" type="text" value="0" data-min="0" data-max="4000" data-angleoffset="-125" data-angleArc="250" data-width="80" data-height="80" class="dial">
        <p>Decay</p>
      </div>
    </div>
    <div class="pull-left">
      <div class="text-center dial-container dial-container-side">
        <input id="{{name}}-sustain" type="text" value="1" data-min="0" data-step="0.05" data-max="1" data-angleoffset="-125" data-angleArc="250" data-width="80" data-height="80" class="dial">
        <p>Sustain</p>
      </div>
    </div>
    <div class="pull-left">
      <div class="text-center dial-container dial-container-side">
        <input id="{{name}}-release" type="text" value="0" data-min="0" data-max="4000" data-angleoffset="-125" data-angleArc="250" data-width="80" data-height="80" class="dial">
        <p>Release</p>
      </div>
    </div>
  </div>
</div>
